:host {
  height: 100%;
  width: 100%;
  // position: absolute;
}
// ::ng-deep .cdk-overlay-pane ::-webkit-scrollbar-thumb {
//   background: rgba(0, 0, 0, .26);
// }

// ::ng-deep .cdk-overlay-pane ::-webkit-scrollbar {
//   height: 4px;
//   width: 4px;
// }

.money-input-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  div {
    position: relative;
  }
}
