:host {
  height: 100%;
  width: 100%;
  // position: absolute;
}

mat-form-field {
  height: 100%;

  textarea {
    height: 100%;
  }
}


textarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26);
}

textarea::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
