<div class="income-content">
  <div class="income-form">
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
      <div class="form-content">
        <div class="calendar item">
          <app-date-picker formControlName="incomeDate" name="incomeDate"></app-date-picker>
        </div>

        <div class="address item">
          <app-item-select [name]="'Address'" [model]="'address'" formControlName="address"></app-item-select>
        </div>

        <div class="category item">
          <app-item-select [name]="'Category'" [model]="'incomeCategory'" formControlName="incomeCategory">
          </app-item-select>
        </div>

        <div class="store item">
          <app-item-select [name]="'Store'" [model]="'incomeStore'" formControlName="incomeStore"></app-item-select>
        </div>

        <div class="content">
          <app-content-input formControlName="content"></app-content-input>
        </div>

        <div class="moeny">
          <div class="money-select">
            <app-item-select [name]="'Account'" [model]="'account'"  formControlName="account"></app-item-select>
          </div>
          <div class="moent-input">
            <app-money-input formControlName="amount"></app-money-input>
          </div>
        </div>

        <div class="person">
          <app-people-select formControlName="peoples"></app-people-select>
        </div>

        <div class="label">
          <app-label-select formControlName="labels"></app-label-select>
        </div>

        <div class="memo">
          <app-memo-input formControlName="memo"></app-memo-input>
        </div>
      </div>
      <div class="btn-group" *ngIf="isAdd">
        <button mat-raised-button type="submit" color="primary">Add Income</button>
        <button mat-raised-button color="accent">Reset</button>
      </div>
      <div class="btn-group" *ngIf="!isAdd">
        <div>
          <button mat-raised-button type="button" color="primary" (click)="editIncome()">Edit Income</button>
          <button mat-raised-button color="accent" type="button" (click)="cancel()">Cancel</button>
        </div>
        <button mat-icon-button type="button"  (click)="deleteIncome()" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </form>
  </div>

  <div class="income-detail">
    <app-income-detail></app-income-detail>
  </div>
</div>
