<div class="home-content">
  <!-- expense income balance -->
  <div class="total-money">
    <!-- account days & number of account  -->
    <div class="total-item number-days shadow">
      <p>
        Accounting of items
      </p>
      <p>
        {{totalItems}} items
      </p>
    </div>

    <!-- total expense  -->
    <div class="total-item total-expense shadow">
      <p>
        Total Expense
      </p>
      <p>
        - {{totalExpenseAmount}} RMB
      </p>
    </div>

    <div class="total-item total-income shadow">
      <p>
        Total Income
      </p>
      <p>
        + {{totalIncomeAmount}} RMB
      </p>
    </div>
  </div>

  <!--this year expense calendar view -->
  <div class="record-calendar shadow">
    <app-year-calendar></app-year-calendar>
  </div>

  <!-- current month chart & ranking by expense and income-->
  <div class="current-month">
    <app-current-month></app-current-month>
  </div>
</div>
