@import 'color';

.home-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 130px 180px 300px;
  padding: 10px;
  box-sizing: border-box;
  grid-row-gap: 10px;
}

.total-money {
  grid-column: span 12;
  grid-row: span 1;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  display: grid;

  .total-item {
    border-radius: 6px 6px 0 0;
    border-top-width: 6px;
    border-top-style: solid;
  }
}

.total-expense,
.total-income,
.number-days {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    // flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    &:last-of-type {
      font-size: 1.4em;
      font-weight: 500;
    }
  }
}

.total-expense {
  border-top-color: $expense;

  p {
    &:last-of-type {
      color: $expense;
    }
  }
}

.total-income {
  border-top-color: $income;

  p {
    &:last-of-type {
      color: $income;
    }
  }
}

.record-calendar {
  grid-column: span 12;
  grid-row: span 1;
}

.current-month {
  grid-column: span 12;
  grid-row: span 1;
}
