<mat-form-field class="full-width">
  <mat-label>Pick expense label</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let label of selectedLabels" [selectable]="selectable" [removable]="removable" (removed)="remove(label.name)">
      <mat-icon>label_outline</mat-icon>
      {{label.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #labelInput [formControl]="labelCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-hint *ngIf="selectedLabels && selectedLabels.length" align="end">total {{selectedLabels?.length}} label selected</mat-hint>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let label of filteredLabel | async" [value]="label">
      {{label.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
