<mat-form-field class="full-width">
  <input type="text" placeholder="Pick address" aria-label="Number" required matInput [formControl]="addressControl"
    [matAutocomplete]="auto"  [errorStateMatcher]="matcher">
  <mat-spinner *ngIf="loading" matSuffix [diameter]="14"></mat-spinner>
  <mat-hint align="start">Please select county or city</mat-hint>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
    <mat-option class="text-ellipsis" *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.areaName}}-{{option.cityName}}-{{option.provinceName}}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="addressControl.hasError('required')">
    Address is <strong>required</strong>
  </mat-error>
</mat-form-field>
