<div class="title">
  <p>DailyRecord</p>
</div>
<div class="ad-content">
  <div class="dailyRecord-ad">
    <p class="info">
      隐私数据，超级保护。
    </p>
    <img src="../../../assets/images/login/safty.svg">
  </div>

  <div class="dailyRecord-ad">
    <img src="../../../assets/images/login/income-expense.svg">
    <p class="info">
      记账，从此更有意义。
    </p>
  </div>

  <div class="dailyRecord-ad">
    <p class="info">
      报表，更是头头是道。
    </p>
    <img src="../../../assets/images/login/profile_analysis.svg">
  </div>
</div>
