<div class="bookLits-content">
  <ul>
    <li *ngFor="let item of list;let i= index" [class.selected]="i===0" [ngClass]="{'selected': i===0}">
      {{item.name}}
    </li>
  </ul>
  <div class="add-book-item">
    <p (click)="openAddBook()">Add Book</p>
  </div>

  <div class="add-book-content" [hidden]="!showAddExpenseBook">
    <!-- <app-expense-book-add [hidden]="!showAddExpenseBook"></app-expense-book-add> -->
    <form >
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Please input expenseBook name</mat-label>
        <input matInput type="text" #input autocomplete="off" (keyup.enter)="addBook(input.value)">
      </mat-form-field>
    </form>
  </div>
</div>
