<div class="bookLits-content">
  <ul *ngIf="list && list.length">
    <li *ngFor="let item of list;let i= index" (click)="changeBook(item)"
      [class.selected]="expenseService?.currenBook.name===item.name">
      {{item.name}}
    </li>
  </ul>
  <div class="add-book-item">
    <p (click)="openAddBook()">新增</p>
    <ng-container *ngIf="showAddExpenseBook">
      <div class="add-book-content">
        <div class="edit-name">
          <mat-form-field floatLabel="never" class="full-width">
            <input matInput type="text" #input autocomplete="off" placeholder="账本名">
          </mat-form-field>
        </div>
        <div class="edit-option">
          <button mat-raised-button (click)="addBook(input.value)" type="button" color="primary">确 认</button>
          <button mat-raised-button type="button" (click)="showAddExpenseBook = false">取 消</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
