<div class="bookLits-content">
  <ul>
    <li *ngFor="let item of list;let i= index" (click)="changeBook(item)"
      [class.selected]="currenBook.name===item.name">
      {{item.name}}
    </li>
  </ul>
  <div class="add-book-item">
    <p (click)="openAddBook()">Add Book</p>
    <ng-container *ngIf="showAddExpenseBook">
      <div class="add-book-content">
        <div class="edit-name">
          <mat-form-field floatLabel="never" class="full-width">
            <input matInput type="text" #input autocomplete="off" placeholder="input expense book name">
          </mat-form-field>
        </div>
        <div class="edit-option">
          <button mat-raised-button (click)="addBook(input.value)" type="button" color="primary">Confirm</button>
          <button mat-raised-button type="button" (click)="showAddExpenseBook = false">Cancel</button>
        </div>
      </div>
      <!-- <mat-form-field appearance="outline" class="full-width add-book-content">
        <mat-label>Please input expenseBook name</mat-label>
        <input matInput type="text" #input autocomplete="off" (keyup.enter)="addBook(input.value)">
      </mat-form-field> -->
    </ng-container>
  </div>
</div>
