<div class="month-content">

  <div echarts [options]="options" class="month-line-chart shadow">
  </div>

  <div class="month-situation shadow">
    <div class="expense-income">
      <p class="expense selected-shadow">
        Expense
      </p>
      <p class="income">
        Income
      </p>
    </div>

    <!-- expense or income category  -->
    <div class="month">
      <ul>
        <li>
          <span class="text-ellipsis">Three Meals of day</span>
          <mat-progress-spinner color="primary" mode="determinate" value="78" [diameter]="30">
          </mat-progress-spinner>
        </li>
        <li>
          <span class="text-ellipsis">Stationery</span>
          <mat-progress-spinner color="primary" mode="determinate" value="66" [diameter]="30">
          </mat-progress-spinner>
        </li>
        <li>
          <span class="text-ellipsis">Clothing</span>
          <mat-progress-spinner color="primary" mode="determinate" value="58" [diameter]="30">
          </mat-progress-spinner>
        </li>
        <li>
          <span class="text-ellipsis">Others</span>
          <mat-progress-spinner color="primary" mode="determinate" value="45" [diameter]="30">
          </mat-progress-spinner>
        </li>
        <li>
          <span class="text-ellipsis">Electrical appliances</span>
          <mat-progress-spinner color="primary" mode="determinate" value="32" [diameter]="30">
          </mat-progress-spinner>
        </li>
        <li>
          <span class="text-ellipsis">Traffic</span>
          <mat-progress-spinner color="primary" mode="determinate" value="12" [diameter]="30">
          </mat-progress-spinner>
        </li>
      </ul>
      <!-- <mat-divider></mat-divider> -->
      <div class="month-amount">
        <span>Month of the expense:</span>
        <p>
          -1578.22RMB
        </p>
      </div>
    </div>
  </div>

</div>
