@import 'color';

:host {
  width: 100%;
  height: 100%;

}

.month-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.choice-item {
  display: flex;
  flex-direction: column;
  width: 40px;

  p {
    writing-mode: vertical-lr;
    flex: 1;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    justify-content: center;
    color: #ececec;
    cursor: pointer;
    font-size: .8em;
    position: relative;

    &:first-of-type {
      background: $expense;
    }

    &:last-of-type {
      background: $income;
    }
  }

  .choice-selected {
    position: relative;
    font-size: 1em;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    left: -5px;
    width: 45px;
  }
}

.choice-content {
  flex: 1;
  display: grid;
  grid-template-columns: auto 200px;
}

.list {
  display: flex;
  flex-direction: column;
  height: 300px;

  ul {
    flex: 1;
    padding: 5px;
    overflow-y: auto;
    z-index: 1;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ececec;
      padding: 5px 0;

      span {
        flex: 1;
        color: #333;
        font-size: 0.8em;
      }
    }
  }

  .month-amount {
    padding: 0 2px 5px;

    span {
      font-size: 0.8em;
      color: #ccc;
    }

    p {
      font-size: 1em;
      font-weight: 500;
      flex: 1;
      text-align: right;
    }
  }
}

ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26);
}

ul::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}



