<div class="month-content shadow">

  <div class="choice-item">
    <p [class.choice-selected]="type === 'expense'" (click)="getExpenseData()">
      Expense
    </p>
    <p [class.choice-selected]="type === 'income'" (click)="getIncomeData()">
      Income
    </p>
  </div>

  <div class="choice-content">
    <div class="chart">
      <div echarts [options]="options" [merge]="updateOptions" style="height:300px" class="month-line-chart">
      </div>
    </div>

    <div class="list shadow">
      <ul>
        <li *ngFor="let item of list">
          <span class="text-ellipsis">{{item.name}}</span>
          <mat-progress-spinner [color]="type === 'expense'?'primary':'warn'" mode="determinate" [value]="item.percent"
            [diameter]="30">
          </mat-progress-spinner>
        </li>
      </ul>
      <div class="month-amount">
        <span>Month of the {{type}}:</span>
        <p [style.color]="type === 'expense' ? '#673ab7':'#f44336'">
          {{type === 'expense'?'-':'+'}} {{sum}} RMB
        </p>
      </div>
    </div>

  </div>


</div>
