.baseData-content {
  height: 100%;
  padding: 10px;
  display: flex;
}

.main-content {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, .03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  margin-left: 10px;
  overflow-y: auto;
  position: relative;
}

