<div class="baseData-content">
  <base-data-nav (selectBaseData)="onSelectBaseData($event)"></base-data-nav>
  <div class="main-content">

    <baseData-manage *ngIf="currenBasedata && currenBasedata.model !== 'expenseBook'" [model]="currenBasedata.model">
    </baseData-manage>

    <book-manage *ngIf="currenBasedata && currenBasedata.model === 'expenseBook'">
    </book-manage>
    <!-- <book-manage></book-manage> -->
    <!-- <button mat-fab color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon>add</mat-icon>
    </button> -->
  </div>
</div>
