.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.report-label-people {
  display: flex;
  flex-direction: column;

  p {
    font-size: 0.8em;
    font-weight: 500;
  }

  .range-content {
    padding: .4375em 0;
  }
}
