<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding [style.display]="shouldRender(node) ? 'flex' : 'none'"
    class="tree-node">
    <!-- use a disabled button to provide padding for tree leaf -->
    <div class="node-item" *ngIf="!node.isEdit">
      <button mat-icon-button disabled></button>
      <div class="node-content">
        <p [style.color]="node.isHide ? '#ccc':''">{{node.name}}</p>
        <div>
          <button mat-icon-button color="primary" [disabled]="node.isHide" (click)="name=node.name;node.isEdit=true">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button (click)="hide(node,'expenseCategory')">
            <ng-container *ngIf="!node.isHide">
              <mat-icon>visibility</mat-icon>
            </ng-container>
            <ng-container *ngIf="node.isHide">
              <mat-icon>visibility_off</mat-icon>
            </ng-container>
          </button>
          <button mat-icon-button color="warn" (click)="del(node,'expenseCategory')">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="edit-item" *ngIf="node.isEdit">
      <div class="edit-name">
        <mat-form-field floatLabel="never" class="full-width">
          <input matInput type="text" [(ngModel)]="name" autocomplete="off" placeholder="input memo">
        </mat-form-field>
      </div>
      <div class="edit-option">
        <button mat-raised-button type="button" color="primary" (click)="update(node,'expenseCategory')">修 改</button>
        <button mat-raised-button (click)="node.isEdit = false">取 消</button>
      </div>
    </div>
  </cdk-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
    [style.display]="shouldRender(node) ? 'flex' : 'none'" class="tree-node">
    <div class="node-item" *ngIf="!node.isEdit">
      <button mat-icon-button cdkTreeNodeToggle [attr.aria-label]="'toggle ' + node.name"
        (click)="node.isExpanded = !node.isExpanded" [style.visibility]="node.expandable ? 'visible' : 'hidden'">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div class="node-content">
        <p [style.color]="node.isHide ? '#ccc':''">{{node.name}}</p>
        <div>
          <button mat-icon-button color="primary" [disabled]="node.isHide" (click)="name=node.name;node.isEdit=true">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button (click)="hideExpenseBook(node)">
            <ng-container *ngIf="!node.isHide">
              <mat-icon>visibility</mat-icon>
            </ng-container>
            <ng-container *ngIf="node.isHide">
              <mat-icon>visibility_off</mat-icon>
            </ng-container>
          </button>
          <button mat-icon-button color="warn" (click)="delExpenseBook(node)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="edit-item" *ngIf="node.isEdit">
      <div class="edit-name">
        <mat-form-field floatLabel="never" class="full-width">
          <input matInput type="text" [(ngModel)]="name" autocomplete="off" placeholder="input memo">
        </mat-form-field>
      </div>
      <div class="edit-option">
        <button mat-raised-button type="button" color="primary" (click)="update(node,'expenseBook')">修 改</button>
        <button mat-raised-button (click)="node.isEdit = false;name=node.name">取 消</button>
      </div>
    </div>
  </cdk-tree-node>
</cdk-tree>
