<main>
  <nav>
    <app-nav></app-nav>
  </nav>
  <section>
    <header *ngIf="router?.url !== '/dashboard'">
      <app-top></app-top>
    </header>
    <div class="content" #content>
      <router-outlet></router-outlet>
      <ng-template #overlayMessage let-messageObj="messageObj">
        <p class="overlay" [style.background]="messageObj.bgColor" [style.color]="messageObj.color">
          {{messageObj.message}} {{messageObj?.emoji}}
        </p>
      </ng-template>
    </div>
  </section>
</main>
