<main>
  <!-- 宣传部分 -->
  <section>
    <dailyRecord-ad></dailyRecord-ad>
  </section>

  <!-- 登录部分 -->
  <aside>
    <div class="welcome">
      <p>记账，</p>
      <p>从现在开始。</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>昵称或邮箱</mat-label>
        <input type="text" autocomplete="off" required formControlName="nameOrEmail" placeholder="请输入昵称或邮箱" matInput>
      </mat-form-field>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>密码</mat-label>
        <input type="password" autocomplete="off" required formControlName="password" placeholder="请输入你的密码" matInput>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">登 录</button>
    </form>

    <p class="goto-register">
      <span>还没账号?</span>
      <a (click)="gotoRegister()">立即注册</a>
    </p>
  </aside>
</main>
