<mat-form-field class="full-width">
  <mat-label>Pick Person</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let people of selectedPeoples" [selectable]="selectable" [removable]="removable" (removed)="remove(people.name)">
      <mat-icon>person_outline</mat-icon>
      {{people.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #peopleInput [formControl]="peopleCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-hint *ngIf="selectedPeoples && selectedPeoples.length" align="end">total {{selectedPeoples?.length}} people selected</mat-hint>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let people of filteredPeolple | async" [value]="people">
      {{people.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
