<main>
  <!-- 当月支出和收入信息 -->
  <div class="income-expense">
    <div class="month-date">
      <p>2019年</p>
      <p>5月</p>
    </div>

    <div class="month-item month-expense shadow">
      <p>
        支出
      </p>
      <p>
        - 3200.58
      </p>
    </div>

    <div class="month-item month-income shadow">
      <p>
        收入
      </p>
      <p>
        + 60000.00
      </p>
    </div>

  </div>

  <!-- 日历和分类 -->
  <div class="calendar-category">
    <div class="calendar">
      <app-month-calendar></app-month-calendar>
    </div>
    <div class="category">
      <app-month-category></app-month-category>
    </div>
  </div>
</main>
