<div class="detail-content">
  <!-- date & total amount-->
  <div class="detail-header">
    <mat-datepicker-toggle tabindex="-1"  matPrefix [for]="picker"></mat-datepicker-toggle>
    <input matInput [matDatepicker]="picker"  (dateChange)="dateSelect($event)" disabled [value]="date">
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </div>

  <!--expense list -->
  <div class="detail-list">   
    <mat-list>
      <ng-container *ngFor="let item of list$ | async">
        <div mat-subheader class="detail-header">
          <span>
            {{item.expenseBookName}}
          </span>
          <span>
            -{{item.subTotal}}RMB
          </span>
        </div>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let expenseDetail of item['expenseDetailList']" (click)="select(expenseDetail)">
          <div class="detail-item" mat-line >
            <span class="text-ellipsis">{{expenseDetail.content}}</span>
            <span class="detail-number">-{{expenseDetail.amount}} RMB</span>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <div class="day-expense">
    <span>Day of the expense:</span>
    <p>
      -{{totalAmount}}RMB
    </p>
  </div>
</div>
