<div class="detail-content">
  <!-- date & total amount -->
  <div class="detail-header">

  </div>

  <!--expense list -->
  <div class="detail-list">
    <mat-accordion multi="false">
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            收件夾
          </mat-panel-title>
          <mat-panel-description>
            3 封未讀
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- 收件夾內容 -->
        ...
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <!-- <mat-icon>inbox</mat-icon> -->
            收件夾
          </mat-panel-title>
          <mat-panel-description>
            3 封未讀
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- 收件夾內容 -->
        ...
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
