/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
// @import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";


html,
body {
  height: 100vh;
}

.pre-line {
  white-space: pre-line;
}

* {
  box-sizing: border-box;
}


.full-width {
  width: 100%;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow-y: hidden;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #efefef 0%, #9599E2 100%);
}

.shadow {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

body:not(.dark) ::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

body:not(.dark) ::-webkit-scrollbar-corner {
  background-color: #fafafa;
}

body:not(.dark) ::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 10px;
  background-clip: content-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
