<div class="detail-content">
  <div class="detail-header">
    <mat-datepicker-toggle tabindex="-1" matPrefix [for]="picker"></mat-datepicker-toggle>
    <input matInput [matDatepicker]="picker" disabled [formControl]="date">
    <mat-datepicker #picker startView="year" disabled="false" (monthSelected)="chosenMonthHandler($event, picker)">
    </mat-datepicker>
  </div>
  <div class="detail-list">
    <mat-list class="incomeDetail-list">
      <ng-container *ngFor="let item of list">
        <h3 mat-subheader>{{item.incomeDate}}</h3>
        <mat-list-item *ngFor="let incomeDetail of item['incomeDetailList']" (click)="select(incomeDetail)">
          <div class="detail-item" mat-line>
            <span class="text-ellipsis">{{incomeDetail.content}}</span>
            <span class="detail-number">+{{incomeDetail.amount}} RMB</span>
          </div>
        </mat-list-item>

      </ng-container>
    </mat-list>
  </div>

  <mat-divider></mat-divider>
  <div class="month-income" *ngIf="list && list.length">
    <span>Month of the income:</span>
    <p>
      +{{totalAmount}}RMB
    </p>
  </div>
</div>
