<mat-form-field class="full-width">
  <input type="text" [placeholder]="'Pick '+name" aria-label="Number" required matInput
    [formControl]="itemSelectControl" [matAutocomplete]="auto" [errorStateMatcher]="matcher">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="itemSelectControl.hasError('required')">
    {{name}} is <strong>required</strong>
  </mat-error>
</mat-form-field>
