<div class="expense-content">
  <div class="expense-form">
    <app-epxense-book-list></app-epxense-book-list>
    <div class="form-content">
      <form>
        <div class="calendar item">
          <app-date-picker></app-date-picker>
        </div>

        <div class="address item">
          <app-address-select></app-address-select>
        </div>

        <div class="category item">
          <app-item-select [name]="'Category'"></app-item-select>
        </div>

        <div class="store item">
          <app-item-select [name]="'Store'"></app-item-select>
        </div>

        <div class="content">
          <!-- Content -->
          <mat-form-field floatLabel="always" class="full-width" >
            <input type="text" autocomplete="off" placeholder="Expense Content" matInput>
          </mat-form-field>
        </div>

        <div class="moeny">
          <app-money-input></app-money-input>
        </div>

        <div class="people">
          <app-people-select></app-people-select>
        </div>

        <div class="label">
          <app-people-select></app-people-select>
        </div>

        <div class="memo">
          <app-memo-input></app-memo-input>
        </div>
      </form>
      <div class="btn-group">
        <button mat-raised-button color="primary">Add to Expense</button>
        <button mat-raised-button color="accent">Reset</button>
      </div>
    </div>
  </div>
  <div class="expense-detail">
    <app-expense-detail></app-expense-detail>
  </div>
</div>
