<div class="expense-content">
  <div class="expense-form">
    <app-epxense-book-list></app-epxense-book-list>
    <form>
      <div class="calendar item">
        Calendar
      </div>

      <div class="address item">
        Address
      </div>

      <div class="category item">
        Category
      </div>

      <div class="store item">
        Store
      </div>

      <div class="content">
        Content
      </div>

      <div class="moeny">
        moeny
      </div>

      <div class="people">
        people
      </div>

      <div class="label">
        label
      </div>

      <div class="memo">
        memo
      </div>

      <div class="btn-group">
        button group
      </div>
    </form>
  </div>
  <div class="expense-detail">
    <app-expense-detail></app-expense-detail>
  </div>
</div>
