@import 'color';

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 5px;

  .report-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    .btn-filter {
      position: relative;

    }

    .btn-group {
      button {
        margin-left: 15px;
        line-height: 28px;
        padding: 0 12px;
      }
    }
  }

  .report-content {
    flex: 1;
  }
}


.dot {
  width: 8px;
  height: 8px;
  background: #673ab7;
  display: block;
  position: absolute;
  top: 5px;
  left: 32px;
}

mat-paginator {
  margin-top: 5px;
}

::ng-deep .mat-paginator-container {
  height: 45px;
  min-height: 45px !important;
}

::ng-deep .mat-paginator-page-size-select {
  margin: 0px 4px 0 4px;
}

::ng-deep .mat-paginator-page-size {
  align-items: center;
}
